//html {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


.dotmap{
  width:100%;
  overflow:hidden;
  .row{
    &:after{
      content:"";
      display: table;
      clear:both;
    }
  }
}

//global dot styles
.dot{
  float:left;
  display:inline-block;
  border-radius:100%;
  width:10px;
  height:10px;
  background:#ccc;
  margin:2px;
}

//color groups
.water{background:#C5EFF7;}
.north-america{background:#90C695;}
.south-america{background:#E26A6A;}
.europe{background:#BE90D4;}
.africa{background:#FDE3A7;}
.asia{background:#F4B350;}
.australia{background:#1E824C;}

//minimal color group
.minimal{
  .water{background:transparent;}
//  .north-america, .south-america, .europe, .africa, .asia, .australia{background:#eee;}
}

@keyframes water {
  0%   { background: lightcyan; }
  50% { background: paleturquoise; }
  100%   { background: lightcyan; }
}

.water{
  //animation: water 1s infinite;
}
