/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: digit;
  src: url('digital-7_mono.ttf') format("truetype");
}
#elapseClock {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#elapseClock .digit {
  font-family: digit;
  font-size: 36px;
}
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1394px 241px #fff, 1784px 33px #fff, 1912px 171px #fff, 1898px 639px #fff, 315px 195px #fff, 623px 72px #fff, 807px 576px #fff, 1251px 924px #fff, 1487px 148px #fff, 1557px 867px #fff, 1088px 15px #fff, 1757px 292px #fff, 29px 455px #fff, 1671px 139px #fff, 249px 437px #fff, 1415px 303px #fff, 1749px 39px #fff, 1583px 258px #fff, 816px 591px #fff, 859px 793px #fff, 1396px 261px #fff, 242px 685px #fff, 1204px 229px #fff, 219px 200px #fff, 799px 584px #fff, 1091px 806px #fff, 672px 440px #fff, 1435px 112px #fff, 814px 703px #fff, 408px 483px #fff, 882px 102px #fff, 1627px 194px #fff, 119px 811px #fff, 146px 1px #fff, 1593px 788px #fff, 1271px 310px #fff, 1317px 777px #fff, 953px 179px #fff, 200px 10px #fff, 155px 393px #fff, 548px 704px #fff, 1214px 819px #fff, 1024px 575px #fff, 435px 977px #fff, 1621px 748px #fff, 12px 886px #fff, 1409px 388px #fff, 892px 272px #fff, 441px 174px #fff, 1601px 924px #fff, 1521px 956px #fff, 273px 66px #fff, 604px 492px #fff, 107px 554px #fff, 864px 28px #fff, 1348px 846px #fff, 17px 447px #fff, 861px 293px #fff, 1867px 819px #fff, 1701px 252px #fff, 740px 557px #fff, 1150px 553px #fff, 539px 89px #fff, 643px 957px #fff, 1237px 756px #fff, 9px 541px #fff, 126px 805px #fff, 233px 98px #fff, 1425px 991px #fff, 586px 293px #fff, 1321px 866px #fff, 522px 222px #fff, 1498px 952px #fff, 581px 683px #fff, 1633px 752px #fff, 535px 78px #fff, 536px 50px #fff, 1530px 90px #fff, 1694px 354px #fff, 643px 277px #fff, 1403px 726px #fff, 956px 545px #fff, 15px 60px #fff, 857px 635px #fff, 1463px 85px #fff, 1830px 275px #fff, 1605px 231px #fff, 932px 591px #fff, 570px 255px #fff, 1344px 906px #fff, 770px 725px #fff, 386px 621px #fff, 1430px 120px #fff, 1589px 86px #fff, 1880px 28px #fff, 46px 413px #fff, 1660px 889px #fff, 410px 282px #fff, 449px 896px #fff, 1078px 832px #fff, 316px 749px #fff, 357px 224px #fff, 1051px 373px #fff, 305px 355px #fff, 1581px 554px #fff, 82px 332px #fff, 80px 47px #fff, 1292px 251px #fff, 1027px 119px #fff, 487px 733px #fff, 619px 586px #fff, 1516px 157px #fff, 1508px 379px #fff, 613px 336px #fff, 556px 235px #fff, 309px 330px #fff, 1583px 516px #fff, 201px 938px #fff, 267px 432px #fff, 670px 981px #fff, 612px 182px #fff, 455px 708px #fff, 1508px 695px #fff, 1629px 985px #fff, 1090px 4px #fff, 1890px 597px #fff, 637px 469px #fff, 1446px 868px #fff, 1774px 950px #fff, 60px 279px #fff, 970px 486px #fff, 1692px 405px #fff, 878px 667px #fff, 377px 93px #fff, 1371px 829px #fff, 1058px 596px #fff, 873px 799px #fff, 103px 432px #fff, 372px 381px #fff, 772px 915px #fff, 72px 166px #fff, 1375px 762px #fff, 336px 517px #fff, 1555px 775px #fff, 1653px 866px #fff, 1898px 393px #fff, 140px 548px #fff, 1196px 789px #fff, 53px 223px #fff, 1395px 488px #fff, 197px 752px #fff, 1700px 944px #fff, 1510px 402px #fff, 1919px 852px #fff, 863px 20px #fff, 1812px 238px #fff, 1287px 55px #fff, 1219px 13px #fff, 176px 653px #fff, 1225px 564px #fff, 1141px 548px #fff, 189px 322px #fff, 1644px 712px #fff, 47px 34px #fff, 1743px 183px #fff, 394px 243px #fff, 42px 633px #fff, 770px 356px #fff, 213px 533px #fff, 175px 18px #fff, 1496px 720px #fff, 58px 865px #fff, 1653px 130px #fff, 1343px 841px #fff, 760px 560px #fff, 1206px 686px #fff, 1583px 764px #fff, 733px 626px #fff, 1744px 261px #fff, 639px 93px #fff, 1632px 547px #fff, 1396px 442px #fff, 472px 641px #fff, 266px 58px #fff, 146px 745px #fff, 664px 803px #fff, 820px 462px #fff, 1259px 931px #fff, 75px 596px #fff, 986px 385px #fff, 1739px 847px #fff, 1664px 806px #fff, 1849px 282px #fff, 837px 755px #fff, 1549px 264px #fff, 207px 640px #fff, 507px 57px #fff, 1621px 847px #fff, 448px 446px #fff, 547px 443px #fff, 913px 356px #fff, 791px 949px #fff, 659px 476px #fff, 607px 399px #fff, 1217px 704px #fff, 896px 519px #fff, 1590px 90px #fff, 1025px 548px #fff, 347px 905px #fff, 718px 421px #fff, 1662px 543px #fff, 1648px 159px #fff, 1758px 977px #fff, 1649px 858px #fff, 1534px 950px #fff, 503px 950px #fff, 1727px 73px #fff, 1477px 774px #fff, 136px 446px #fff, 690px 73px #fff, 287px 211px #fff, 1444px 566px #fff, 916px 913px #fff, 185px 217px #fff, 899px 823px #fff, 1133px 703px #fff, 52px 627px #fff, 333px 982px #fff, 1547px 428px #fff, 795px 678px #fff, 12px 615px #fff, 256px 805px #fff, 1832px 629px #fff, 1481px 919px #fff, 558px 656px #fff, 1208px 574px #fff, 102px 667px #fff, 1909px 493px #fff, 1305px 619px #fff, 1122px 753px #fff, 848px 890px #fff, 1630px 916px #fff, 666px 12px #fff, 785px 285px #fff, 187px 8px #fff, 1319px 7px #fff, 1698px 111px #fff, 1797px 424px #fff, 1883px 539px #fff, 384px 488px #fff, 450px 297px #fff, 1672px 941px #fff, 1852px 76px #fff, 1264px 145px #fff, 882px 226px #fff, 1560px 399px #fff, 823px 612px #fff, 1130px 538px #fff, 1102px 450px #fff, 870px 645px #fff, 1857px 487px #fff, 822px 650px #fff, 748px 309px #fff, 436px 699px #fff, 1741px 909px #fff, 24px 72px #fff, 941px 130px #fff, 1414px 778px #fff, 348px 361px #fff, 368px 356px #fff, 1861px 712px #fff, 1246px 537px #fff, 934px 313px #fff, 1594px 963px #fff, 105px 17px #fff, 1517px 248px #fff, 421px 174px #fff, 1056px 201px #fff, 694px 471px #fff, 891px 981px #fff, 1504px 695px #fff, 1528px 949px #fff, 1642px 168px #fff, 1200px 250px #fff, 1106px 627px #fff, 734px 786px #fff, 134px 486px #fff, 659px 698px #fff, 333px 757px #fff, 893px 415px #fff, 370px 395px #fff, 563px 717px #fff, 1067px 336px #fff, 1321px 171px #fff, 309px 292px #fff, 560px 384px #fff, 478px 253px #fff, 1883px 826px #fff, 371px 487px #fff, 1589px 517px #fff;
}
.meteor-1 {
  position: absolute;
  top: 54px;
  left: 89%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.5s linear infinite;
          animation: meteor 5.5s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-2 {
  position: absolute;
  top: 132px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 7.3s linear infinite;
          animation: meteor 7.3s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-3 {
  position: absolute;
  top: 74px;
  left: 10%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 8.5s linear infinite;
          animation: meteor 8.5s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-4 {
  position: absolute;
  top: 274px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6.8s linear infinite;
          animation: meteor 6.8s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-5 {
  position: absolute;
  top: 237px;
  left: 99%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4s linear infinite;
          animation: meteor 4s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-6 {
  position: absolute;
  top: 125px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4s linear infinite;
          animation: meteor 4s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-7 {
  position: absolute;
  top: 62px;
  left: 72%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 8.4s linear infinite;
          animation: meteor 8.4s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-8 {
  position: absolute;
  top: 276px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.7s linear infinite;
          animation: meteor 3.7s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-9 {
  position: absolute;
  top: 104px;
  left: 47%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.1s linear infinite;
          animation: meteor 5.1s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-10 {
  position: absolute;
  top: 206px;
  left: 49%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6s linear infinite;
          animation: meteor 6s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-11 {
  position: absolute;
  top: 224px;
  left: 63%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.7s linear infinite;
          animation: meteor 9.7s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-12 {
  position: absolute;
  top: 167px;
  left: 21%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 8.3s linear infinite;
          animation: meteor 8.3s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-13 {
  position: absolute;
  top: 54px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.6s linear infinite;
          animation: meteor 5.6s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-14 {
  position: absolute;
  top: 86px;
  left: 19%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6.4s linear infinite;
          animation: meteor 6.4s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-15 {
  position: absolute;
  top: 208px;
  left: 42%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 6.3s linear infinite;
          animation: meteor 6.3s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
@-webkit-keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
pre {
  overflow: auto;
  max-height: 90%;
  width: 100%;
  border-radius: 1px;
  /* Prevents bad clipping in Chrome */
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 20px;
}
