/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: digit;
  src: url('digital-7_mono.ttf') format("truetype");
}
#elapseClock {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#elapseClock .digit {
  font-family: digit;
  font-size: 36px;
}
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 918px 671px #fff, 682px 804px #fff, 1605px 524px #fff, 1495px 83px #fff, 1890px 325px #fff, 147px 451px #fff, 842px 678px #fff, 502px 114px #fff, 737px 965px #fff, 1261px 873px #fff, 1277px 121px #fff, 1386px 643px #fff, 1754px 465px #fff, 460px 703px #fff, 1725px 902px #fff, 1215px 860px #fff, 1044px 694px #fff, 1301px 413px #fff, 429px 904px #fff, 382px 302px #fff, 904px 503px #fff, 50px 625px #fff, 398px 108px #fff, 1844px 821px #fff, 1209px 675px #fff, 733px 965px #fff, 1205px 908px #fff, 854px 109px #fff, 166px 755px #fff, 984px 113px #fff, 138px 915px #fff, 1096px 58px #fff, 405px 60px #fff, 1909px 813px #fff, 1450px 847px #fff, 1132px 16px #fff, 330px 658px #fff, 905px 279px #fff, 558px 19px #fff, 1422px 703px #fff, 1581px 298px #fff, 1107px 811px #fff, 1385px 209px #fff, 757px 276px #fff, 814px 188px #fff, 1032px 650px #fff, 1269px 689px #fff, 403px 937px #fff, 1282px 373px #fff, 819px 414px #fff, 1455px 325px #fff, 310px 545px #fff, 1595px 272px #fff, 753px 430px #fff, 569px 912px #fff, 501px 882px #fff, 1314px 293px #fff, 1198px 16px #fff, 225px 624px #fff, 1459px 911px #fff, 854px 649px #fff, 610px 191px #fff, 321px 61px #fff, 1279px 354px #fff, 1324px 46px #fff, 1664px 786px #fff, 1072px 427px #fff, 484px 283px #fff, 1907px 300px #fff, 991px 962px #fff, 1551px 84px #fff, 1739px 643px #fff, 1702px 63px #fff, 1731px 708px #fff, 1896px 554px #fff, 1411px 819px #fff, 1607px 230px #fff, 597px 272px #fff, 1716px 730px #fff, 97px 207px #fff, 1375px 381px #fff, 314px 225px #fff, 436px 323px #fff, 342px 253px #fff, 166px 511px #fff, 880px 643px #fff, 1018px 255px #fff, 237px 544px #fff, 41px 423px #fff, 1259px 159px #fff, 470px 546px #fff, 379px 466px #fff, 409px 455px #fff, 136px 698px #fff, 1646px 841px #fff, 420px 358px #fff, 1073px 517px #fff, 244px 582px #fff, 838px 462px #fff, 477px 445px #fff, 930px 562px #fff, 380px 388px #fff, 415px 58px #fff, 1595px 102px #fff, 718px 700px #fff, 447px 921px #fff, 1057px 79px #fff, 730px 802px #fff, 1513px 196px #fff, 1026px 955px #fff, 355px 672px #fff, 1126px 812px #fff, 116px 736px #fff, 1366px 947px #fff, 1476px 403px #fff, 1816px 221px #fff, 1696px 332px #fff, 1304px 588px #fff, 1684px 485px #fff, 753px 621px #fff, 680px 78px #fff, 1466px 311px #fff, 1080px 68px #fff, 1685px 864px #fff, 907px 896px #fff, 1443px 131px #fff, 1394px 700px #fff, 1532px 310px #fff, 109px 356px #fff, 1212px 44px #fff, 120px 369px #fff, 430px 121px #fff, 1628px 519px #fff, 1843px 108px #fff, 1444px 543px #fff, 857px 253px #fff, 1399px 131px #fff, 939px 344px #fff, 180px 923px #fff, 796px 86px #fff, 1811px 673px #fff, 1219px 886px #fff, 1871px 805px #fff, 1294px 402px #fff, 353px 424px #fff, 991px 748px #fff, 123px 470px #fff, 739px 639px #fff, 717px 434px #fff, 982px 90px #fff, 1884px 215px #fff, 1700px 493px #fff, 923px 686px #fff, 136px 527px #fff, 1352px 157px #fff, 1707px 131px #fff, 641px 741px #fff, 1842px 428px #fff, 1810px 39px #fff, 1333px 30px #fff, 1842px 666px #fff, 40px 249px #fff, 1182px 657px #fff, 313px 689px #fff, 1462px 211px #fff, 1404px 791px #fff, 1494px 967px #fff, 390px 974px #fff, 808px 270px #fff, 1425px 134px #fff, 988px 176px #fff, 1390px 634px #fff, 1436px 251px #fff, 1206px 531px #fff, 482px 917px #fff, 1662px 745px #fff, 499px 978px #fff, 361px 247px #fff, 1200px 942px #fff, 1567px 307px #fff, 1749px 420px #fff, 56px 519px #fff, 1769px 1000px #fff, 599px 869px #fff, 1844px 880px #fff, 1890px 166px #fff, 435px 400px #fff, 653px 828px #fff, 269px 316px #fff, 182px 712px #fff, 1555px 146px #fff, 614px 720px #fff, 1232px 461px #fff, 106px 174px #fff, 816px 859px #fff, 1044px 764px #fff, 1172px 538px #fff, 519px 372px #fff, 1369px 905px #fff, 615px 796px #fff, 157px 759px #fff, 390px 253px #fff, 166px 821px #fff, 598px 7px #fff, 1824px 358px #fff, 354px 582px #fff, 79px 797px #fff, 550px 248px #fff, 986px 663px #fff, 1242px 230px #fff, 1708px 788px #fff, 166px 310px #fff, 556px 930px #fff, 351px 858px #fff, 206px 315px #fff, 191px 673px #fff, 411px 981px #fff, 889px 913px #fff, 1118px 522px #fff, 1740px 868px #fff, 1314px 393px #fff, 1223px 830px #fff, 1839px 219px #fff, 1355px 360px #fff, 844px 191px #fff, 1550px 561px #fff, 985px 169px #fff, 1770px 522px #fff, 1433px 978px #fff, 560px 989px #fff, 638px 952px #fff, 1728px 733px #fff, 800px 762px #fff, 1463px 730px #fff, 1351px 58px #fff, 1200px 530px #fff, 1447px 596px #fff, 761px 725px #fff, 691px 71px #fff, 265px 55px #fff, 697px 615px #fff, 957px 669px #fff, 1899px 860px #fff, 99px 159px #fff, 665px 730px #fff, 1856px 352px #fff, 1276px 931px #fff, 106px 691px #fff, 657px 21px #fff, 227px 168px #fff, 1293px 394px #fff, 1063px 657px #fff, 674px 235px #fff, 258px 605px #fff, 1697px 828px #fff, 1206px 451px #fff, 1903px 567px #fff, 369px 429px #fff, 1139px 653px #fff, 519px 501px #fff, 1552px 497px #fff, 1895px 429px #fff, 1460px 582px #fff, 1360px 862px #fff, 854px 604px #fff, 1299px 318px #fff, 949px 656px #fff, 1810px 684px #fff, 894px 705px #fff, 429px 637px #fff, 1227px 59px #fff, 1712px 692px #fff, 1750px 921px #fff, 1877px 624px #fff, 559px 948px #fff, 1760px 736px #fff, 1259px 607px #fff, 194px 862px #fff, 233px 977px #fff, 76px 209px #fff, 1677px 737px #fff, 943px 916px #fff, 596px 268px #fff, 1122px 742px #fff, 1034px 593px #fff, 1723px 649px #fff, 1283px 753px #fff, 1338px 947px #fff, 404px 809px #fff, 253px 70px #fff, 881px 100px #fff, 792px 862px #fff, 1408px 277px #fff, 1102px 220px #fff, 599px 302px #fff, 1543px 311px #fff, 1533px 236px #fff, 1826px 114px #fff, 1338px 219px #fff, 1427px 695px #fff;
}
.meteor-1 {
  position: absolute;
  top: 79px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.9s linear infinite;
          animation: meteor 4.9s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-2 {
  position: absolute;
  top: 235px;
  left: 61%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.7s linear infinite;
          animation: meteor 4.7s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-3 {
  position: absolute;
  top: 138px;
  left: 28%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.5s linear infinite;
          animation: meteor 4.5s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-4 {
  position: absolute;
  top: 162px;
  left: 36%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 8.7s linear infinite;
          animation: meteor 8.7s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-5 {
  position: absolute;
  top: 297px;
  left: 31%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.7s linear infinite;
          animation: meteor 5.7s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-6 {
  position: absolute;
  top: 200px;
  left: 89%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.4s linear infinite;
          animation: meteor 9.4s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-7 {
  position: absolute;
  top: 185px;
  left: 49%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.6s linear infinite;
          animation: meteor 3.6s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-8 {
  position: absolute;
  top: 298px;
  left: 77%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.9s linear infinite;
          animation: meteor 9.9s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-9 {
  position: absolute;
  top: 259px;
  left: 70%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.9s linear infinite;
          animation: meteor 4.9s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-10 {
  position: absolute;
  top: 195px;
  left: 78%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.1s linear infinite;
          animation: meteor 5.1s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-11 {
  position: absolute;
  top: 192px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.2s linear infinite;
          animation: meteor 3.2s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-12 {
  position: absolute;
  top: 113px;
  left: 76%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5s linear infinite;
          animation: meteor 5s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-13 {
  position: absolute;
  top: 75px;
  left: 96%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 5.7s linear infinite;
          animation: meteor 5.7s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-14 {
  position: absolute;
  top: 279px;
  left: 72%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9s linear infinite;
          animation: meteor 9s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
.meteor-15 {
  position: absolute;
  top: 139px;
  left: 38%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 10s linear infinite;
          animation: meteor 10s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}
@-webkit-keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
